.CollectionPreview {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }
}
